<h1>Students</h1>
<ul>
<% @students.each do |s| %>
<li><%= s.fname %> <%= s.lname %></li>
<% end %>
</ul>
<h1>Add a student</h1>
<%= form_for :student do |f|%>
	<p>First Name: <%= f.text_field :fname %></p>
	<p>Last Name: <%= f.text_field :lname %></p>
	<p><%= submit_tag "Submit" %></p>
<% end %>
